.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
}
