@import url("https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap");

header {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 4.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 50px;
}
